// ======================================
//  Mixin Styles
// ======================================

// Align Center

@mixin centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


// Media Query Mixin

@mixin break-s {
  @media (min-width: $break-s) {
    @content;
  }
}

@mixin break-m {
  @media (min-width: $break-m) {
    @content; 
  }
}

@mixin break-l {
  @media (min-width: $break-l) {
    @content;
  }
}

