// ======================================
//  Variables
// ======================================


// Colors
$primary-color: rgb(3, 3, 82);


// Breakpoints
$break-s: 320px;
$break-m: 768px;
$break-l: 1024px;
 

// Fonts
$deftone: 'deftone';
$kirsty-bd: 'kirsty-bd';
$kirsty-ink: 'kirsty-ink';
$kirsty-rg: 'kirsty-rg';
$georgia: Georgia, 'Times New Roman', Times, serif;


// Font-size
$base__font-size: 16px;