// ======================================
//  Main Styles
// ======================================


.about {
  padding-top: em(200px);
}

.skills {
  padding-top: em(50px);
  margin-top: em(20px);
}

.projects,
.contact {
  padding-top: em(100px);
  margin-top: em(20px);
}

footer {
  margin: em(50px) em(20px);
}
